<nav>
  <% if session[:user_id] %>
    <a href="<%= root_path %>">Home</a>
    <a href="<%= notes_path %>">Notes</a>
    <a href="<%= new_user_path %>">New User</a>
    <a href="<%= new_note_path %>">New Note</a>
    <a href="<%= user_path(session[:user_id]) %>">Мой профиль</a>
  <%= form_with url: session_path, method: :delete, html: { class: 'no-form' } do %>
    <%= button_tag 'Выйти', class: 'no-form-b' %>
  <% end %>
  <% else %>
    <a href="<%= new_user_path %>">Регистрация</a>
    <a href="<%= new_session_path %>">Вход</a>
  <% end %>
  <% if session[:user_id] %>
    <form action="<%= search_path %>" method="get" class="no-form no-form-search">
      <input name="q" class="small-input" type="text" placeholder="Search..." value="<%= params[:q] %>">
      <button class="button" type="submit"><i class='bx bx-search'></i></button>
    </form>
  <% end %>
</nav>