<nav>
  <a href="<%= root_path %>">Home</a>
  <a href="<%= notes_path %>">Notes</a>
  <a href="<%= new_user_path %>">New User</a>
  <a href="<%= new_note_path %>">New Note</a>
  <form action="<%= search_path %>" method="get" class="no-form no-form-search">
    <input name="q" class="small-input" type="text" placeholder="Search..." value="<%= params[:q] %>">
    <button class="button" type="submit"><i class='bx bx-search'></i></button>
  </form>
</nav>