<%= render 'shared/nav' %>

<div class="main-div">
<h1>Список стран</h1>
<%= link_to "Добавить новую страну", new_country_path %>
<table border="1" cellpadding="5" cellspacing="0">
<thead>
<tr>
<th>Название</th>
<th>Численность армии</th>
<th>Численность населения</th>
<th>Площадь строны в квадратных километрах</th>
<th>Время сущствования</th>
<th>Действия</th>
</tr>
</thead>
<tbody>
<% @countries.each do |country| %>
  <tr>
    <td><strong><%= country.name %></strong></td>
    <td><%= country.army %></td>
    <td><%= country.population %></td>
    <td><%= country.area %></td>
    <td><%= country.first_year %> — <%= country.last_year %></td>
    <td><%= link_to "Редактировать", edit_country_path(country) %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>