<%= render 'shared/nav' %>
<div class="main-div">
<h1>Список исторических личностей</h1>
<%= link_to "Добавить новую личность", new_figure_path %>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Годы жизни</th>
      <th>Занятие</th>
      <th>Цифра</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @figures.each do |figure| %>
      <tr>
        <td><strong><%= [figure.first_name, figure.last_name].compact.join(" ") %></strong></td>
        <td><%= figure.birth_year %> – <%= figure.death_year %></td>
        <td><%= figure.occupation %></td>
        <td><%= figure.number %></td>
        <td>
          <%= link_to "Редактировать", edit_figure_path(figure) %> | 
          <%= link_to "Удалить", figure_path(figure), method: :delete, data: { confirm: "Вы уверены, что хотите удалить #{figure.first_name}?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
