<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <% if current_user %>
        Привет, <%= current_user.email %> |
       <%= form_with url: logout_path, method: :delete, class: "no-form" do %>
         <button class="no-form-a" type="submit">Выйти</button>
        <% end %>
      <% else %>
        <%= link_to "Вход", sign_in_path %> |
        <%= link_to "Регистрация", sign_up_path %>
      <% end %>
    </header>

    <footer>
      <%= yield %>
    </footer>
  </body>
</html>
