<%= render 'shared/nav' %>

<main>
<%= form_with model: @user, local: true do |form| %>
  <div>
    <h1>Редактировать пользователя</h1>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Обновить" %>
  </div>
<% end %>
</main>