<%= render 'shared/nav' %>

<div class="main-div">
<h1>Список пользователей</h1>
<table>
<thead>
<tr>
<th>Имя</th>
<th>Email</th>
<th>Действия</th>
<tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to "Редактировать", edit_user_path(user) %> |
    <%= link_to "Удалить", user_path(user), method: :delete, data: { confirm: "Вы уверены, что хотите удалить пользователя #{user.name}?" } %>
  </td>
</tr>
<% end %>
</tbody>
</table>
</div>