<%= render 'shared/nav' %>

<div class="main-div">
<h1>Пользователи</h1>
<table>
<thead>
<tr>
<th>Имя</th>
<th>Email</th>
<th>Telegram</th>
<th>Номер Телефона</th>
<th>Изображение</th>
<th>Действия</th>
<tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td></td>
  <td></td>
    <td>
    <% if user.image.attached? %>
      <%= image_tag user.image, size: "100x100" %>
    <% else %>
      Нет изображения
    <% end %>
  </td>
  <td>
    <%= link_to edit_user_path(user) do %>
      <i class='bxr bx-edit'></i>
    <% end %>
    &nbsp
    <%= link_to "/users/#{user.id}/confirm_destroy" do %>
      <i class='bxr bx-trash'></i> 
    <% end %>
  </td>

</tr>
<% end %>
</tbody>
</table>
</div>