<%= render 'shared/nav' %>

<main>
<%= form_with(model: @event, method: :delete, local: true) do |form| %>
  <h1>Удалить событие</h1> 
  <p>
  <%= form.label :name, "Название" %>
  <%= form.text_field :name, readonly: true %>
  </p>
  <p>
  <%= form.label :date, "Дата" %>
  <%= form.date_field :date, readonly: true %>
  </p>
  <p>
    <%= form.label :description, "Описание" %>
    <%= form.text_field :description, readonly: true %>
  </p>

  <p>
    <label>Текущее изображение:</label><br>
    <%= image_tag @event.image, size: "200x200" %>
  </p>

  <p>
  <%= form.label :place, "Место" %>
  <%= form.text_field :place, readonly: true %>
  </p>
    <p>
      <%= form.submit "Удалить", data: { confirm: 'Вы уверены?' }, class: "button-red" %>
    </p>
  <% end %>
</main>
