<%= render 'shared/nav' %>

<main>
  <div class="main-div">
    <h1>All Notes</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= link_to note.title, note %></td>
            <td><%= note.content %></td>
            <td><%= link_to "<i class='bx bx-edit'></i>".html_safe, edit_note_path(note) %> <%= link_to "<i class='bx bx-trash'></i>".html_safe, delete_note_path(note) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
