<%= render 'shared/nav' %>

<main>
  <form>
    <h1>Note Details</h1>
    <p><strong>Title:</strong> <%= @note.title %></p>
    <p><strong>Content:</strong> <%= @note.content %></p>
    <div class="flex">
      <%= link_to "<i class='bx bx-edit'></i>".html_safe, edit_note_path(@note) %> 
      <%= link_to "<i class='bx bx-trash'></i>".html_safe, delete_note_path(@note) %>
      <%= link_to 'Back', notes_path %>
    </div>
  </form>
</main>
