<h1>Dev#index</h1>
<p>HTML - app/views/pages/</p>
<p>javascript - app/javascript/packs/application.js</p>
<p>css - app/assets/stylesheets/</p>
<p>маршрутицация - configs/routes.rb надо вот так 'Rails.application.routes.draw do root "pages#home" get "/about", to: "pages#about" end'></p>
<p>маршрутицация - 'rails generate controller Pages home about' </p>
<p>оброботка событий - 'config/routes.rb' </p>
<h1>Генератор Указов</h1>

<nav>
<p>навигация</p>
  <%= link_to "Главная", root_path %> |
  <%= link_to "О нас", about_path %> |
</nav>

<%= link_to "О сайте", about_path %>
<nav>
<%= form_with url: "/contact", method: "post" do %>
  <label>Имя:</label>
  <%= text_field_tag :name %><br>

  <label>Династия:</label>
  <%= text_area_tag :family %><br>

  <label>Цифра:</label>
  <%= text_area_tag :number %><br>

  <%= submit_tag "Отправить" %>
<% end %>
</nav>